* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p,
img {

    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}

nav {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ala1 {
    color: rgba(53, 45, 210, 0.774);
}

nav img {
    max-width: 16%;
}

/* serve para ajustar a  estilização dos links */
nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
    color: darkslateblue;
}

/* serve para ajustar a margenm da direita */
nav a:last-child {}

/* serve para  estilizar do cabeçalho para ele ficar do lado direito */
.cabecalho {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*serve para alinhar as escritas para o lado direita */
nav {
    text-align: right;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 2;


}

.acesso {

    margin-top: 15px;
    border: none;
}

.div-caixa h1 {
    font-size: 70px;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.caixa1,
.caixa2 {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 100px;


}

.caixa1 p {
    font-size: 20px;
    margin-top: 50px;
    color: rgba(31, 31, 129, 0.695);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caixa1 img {

    max-width: 100%;
    height: auto;
}

.container-button {
    display: inline-flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 60px;
    text-decoration: none;





}

.button-contato2 {
    font-size: 17px;
    display: inline-flex;
    text-decoration: none;
    background: rgb(85, 35, 249);
    text-align: center;
    color: #fff;
    padding: 0 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    width: max-content;
    overflow: hidden;
    border: 1px solid;
    margin-top: 70px;



}

.button-contato {
    font-size: 16px;
    display: inline-flex;
    text-decoration: none;
    background: rgb(85, 35, 249);
    text-align: center;
    color: #fff;
    padding: 0 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    width: max-content;
    overflow: hidden;
    border: 1px solid;



}

.button-segundario {
    font-size: 16px;
    display: inline-flex;
    text-decoration: none;
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(28, 28, 108);
    padding: 0 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    width: max-content;
    overflow: hidden;
    border: none;



}

.container button a:hover a:focus a:active a:active {
    color: rgb(255, 19, 19);
    opacity: 1;


}



.div-container-lista-comfirma {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.btn-recursos {
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    color: rgb(85, 35, 249);
    border-radius: 5px;
    width: 35%;
    border: 1px solid rgb(85, 35, 249);
}

.container-parte2 .titulo {
    text-align: center;
    color: rgb(8, 8, 116);
    font-size: 45px;
    margin-top: 30px;
    font-family: inherit;
}

.div-container-div-med {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;
}

.subtitulo {
    margin-top: 50px;
    font-size: 20px;
    color: #092580c9;
    margin-top: 30px;
}

.container-parte2 h2 {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(8, 8, 116);
    font-size: 33px !important;
    margin-top: 130px;

}

.container-sujestoes {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    height: 600px;
    margin-top: 200px;

}

.div-sujestoes-img img {
    display: flex;
    width: 100%;
    height: 90%;
}

.div-sujestoes-img {
    width: 56%;
    flex: 1;
    margin: 0 auto;
}



.div-container-sujestoes-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    ;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.div-sujestoes-text {
    width: 80%;
}

.container-sujestoes h6 {
    letter-spacing: 0.01em;
    color: #445781;
    font-size: 18px;
    font-weight: 400;


}

.container-sujestoes h2 {
    display: block;
    font-size: 35px;
    color: #1e266d;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: -0.01em;

}
.principais-recursos{
    margin-top: 150px;
}
.principais-recursos h1 {
    font-weight: 700;
    font-size: 34px;
    color: #1e266d;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.01em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.principais-recursos h6 {
    color: #445781;
    letter-spacing: 0.01;
    font-weight: 400;
    font-size: 18px;
}

.principais-recursos h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #1e266d;
    margin-top: 40px;
    letter-spacing: 0.01em;
    line-height: 1.3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.container-div-med {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;

}

.div-med {
    height: 200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 15px 1px #888888;
    border-radius: 8px;
}

.mais-resultados {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mais-resultados-text {
    width: 50%;
    height: 100%;
    text-align: left;
    ;

}

.mais-resultados-button {
    font-size: 16px;
    display: inline-flex;
    text-decoration: none;
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(28, 28, 108);
    padding: 0 40px;
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    width: max-content;
    overflow: hidden;
    border: 1px solid rgb(28, 28, 108);
    margin-top: 30px;

}



.mais-resultados button:hover {
    color: #fff;
}

.mais-resultados-img {
    position: absolute;
    top: 10px;
    left: -50px;
    background-image: url(://i0.wp.com/www.swaytheme.com/wp-content/uploads/sites/3/2020/11/financial-5.jpg?resize=447%2C300&ssl=1);


}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.containers {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    margin: 20px;
    gap: 20px;
    margin-top: 80px;

    h5 {
        font-family: sans-serif;
        font-size: 1.2rem;
    }

    p {
        line-height: 35px;
        width: 60%;
        font-family: system-ui;
    }

}



.mais-resultados h1 {
    font-size: 28px;
    font-weight: 700;
    color: #1e266d;
    margin-bottom: 30px;
}

.mais-resultados h6 {
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    color: #445781;
    letter-spacing: 0.01em;

}

.div-container2-imagem img {
    border-radius: 8px;
}

.div-container2-imagem {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center;
    margin-top: 50px;

    h5 {
        text-align: center;
        color: #1e266d;
        font-size: 15px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
    }

}

.div-cabecalho-container {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.div-cabecalho-container h1 {
    color: #171f6a;
    font-weight: 700;
    font-size: 35px;
    margin-top: 100px;
    font-family: unset;
}

.div-cabecalho-container h5 {
    color: #081372b4;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 40px;
}

.div-container-imagem img {
    border-radius: 8px;
}

.div-container-imagem-bloco {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.lista-comfirma {
    animation-name: kd-fadeIn;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: disc;
}


.conjunto-imagem {
    position: relative;

}

.lista-comfirma li {

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 14px;
    font-size: 1.13em;

    padding: 0;
    color: #1e266d;
}



.laudos {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 50%;
    background: #cedde8;
    margin-bottom: 30px;
}

.laudos img {
    margin-bottom: 50px;
}

.laudos h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1e266d;
}

.div-caixa {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.opcoes-medicamento {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}



.footer {
    background-color: #212240;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}

.stenci {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    color: #ffffff6a;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    flex: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.menus {
    display: flex;
    flex-direction: column;



    ul>li {
        list-style: none;
        margin-top: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    ul>li a {
        color: #f0e9e9d0;
    }
}

.span {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.container-menus {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 80px;
    font-size: 18px;

    .menu-span {
        margin-bottom: 10px;
        font-size: 20px;
        color: #fff;
    }


}

.container-contatos {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 80px;
    color: #ffffffb9;

}

ul li a {
    text-decoration: none;

}

.caixa-endereco {
    width: 45%;
    margin-top: 20px;
}

.endereco-text {
    color: #fff;
    margin-bottom: 17px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.caixa-social {
    margin-top: 40px;
    color: #fff;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h5 {
        margin-bottom: 10px;
    }
}

.container-mensagem-principal-right input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 8px 15px;
    border: none;
    width: 50%
}

.foother2 {
    background-color: #212240;
    text-align: center;

    .copyright {
        color: #fff;
        font-size: 13px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: px;

    }
}

.container-informacoes-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.details-container {
    padding: 20px;
    border: 1px solid #ddd;

}

.container-mensagem-principal {
    display: flex;
    flex-direction: row;
    margin-top: 300px;
    gap: 80px;
}

.container-mensagem {
    width: 80%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 0 auto;

}

.container-mensagem-principal-left {
    flex: 1;
    flex-direction: column;

}

.container-mensagem-principal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h4 {
        font-size: 22px;
        font-weight: 600;
        color: #171f6a;
        text-align: center;
        width: 100%;
    }

    h6 {
        font-size: 16px;
        font-weight: 400;
        color: #445781;
    }

}

.container-titulos {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h2 {
        color: #1e266d;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    h6 {
        font-size: 17px;
        font-weight: 400;
        color: midnightblue;
        margin-bottom: 80px;
    }
}

.container {
    max-width: 1280px;
    margin: auto;

}

.container-form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex: 1;
    text-align: center;
    margin: auto 0;
    box-shadow: 1px 1px 10px 5px #ddd;
    padding: 20px;
    border-radius: 8px;

    input {
        background-color: #F2F3fB;
        margin: 0 auto;
        width: 80%;
        padding: 15px;
        border-radius: 8px;
        color: #8285B0;
    }

}
@media only screen and (max-width: 1000px) {
    .opcoes-medicamento {
        flex-direction: column;
    }

    .div-caixa {
        flex-direction: column;
    }
    .container-mensagem-principal{
        flex-direction: column;
    }
    .div-container2-imagem{
        flex-direction: column;
    }
    .container-row{
        flex-direction: column;
    }
    .div-container-div-med{
        flex-direction: column;
    }
    .container-sujestoes{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
    .div-sujestoes-img{
        width: 300px;
        margin-bottom: 50px;
    }
    .div-sujestoes-text{
        width: 80%;
    }
    .div-container-sujestoes-text{
        width: 100%;
    }
    .mais-resultados{
        margin-top: 500px;
    }
    .mais-resultados-text{
        width: 100%;
    }
}